<div class="home__container">
  <app-card
    gameText="Buy Now!"
    gameCover="assets/bt-1.jpg"
    gameType="DIGITAL PS4"
    gamePrice="RS 399,90"
    gameLabel=""
  ></app-card>
  <app-card
    gameText="Play It Now!"
    gameCover="assets/bt-4.jpg"
    gameType="DIGITAL PS5"
    gamePrice="RS 499,90"
    gameLabel="EXCLUSIVE"
  ></app-card>
  <app-card
    gameText="Buy Now!"
    gameCover="assets/bt-5.jpg"
    gameType="DIGITAL PS5"
    gamePrice="RS 599,90"
    gameLabel="EXCLUSIVE"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameType="DIGITAL PS5"
    gamePrice="RS 299,90"
    gameLabel="EXCLUSIVE"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameType="DIGITAL PS5"
    gamePrice="RS 299,90"
    gameLabel="EXCLUSIVE"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameType="DIGITAL PS5"
    gamePrice="RS 299,90"
    gameLabel="EXCLUSIVE"
  ></app-card>
</div>
